@font-face {
    font-family: Montserrat; /* Гарнитура шрифта */
    src: url(./fonts/Montserrat-ExtraBold.ttf); /* Путь к файлу со шрифтом */
}
body{
    text-align: center;
}
.backgruond-Gray {
    background-color: #eff1f2;
}
.backgruond-White {
    background-color: #ffffff;
}
.backgruond-Black {
    background-color: #25282A;
}
.font-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.font-title-middle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.font-description {
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    opacity: 0.7;
    line-height: 20px;
}
.button {
    color: #ffffff;
    height: 52px;
    background-color: #0059D9;
    border-radius: 4px;
    border: none;
}
.container {
    max-width: 700px;
    margin: auto;
    padding: 0 5px;
}
.user {
    height: auto;
    text-align: center;
    flex-direction: column;
    padding: 10px 0px 100px 0px;
    margin: auto;
}
.user__image{
    height: auto;
    max-width: 340px;
    border-radius: 50%;   
}
.user__name {
    margin: 20px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #000000;
    line-height: 44px;
}
.user__description{
    margin: 20px auto;
    color: #000000;
    line-height: 20px;
}
.user__button {
    width: 280px;
}
.abilitys {
    background-color: #ffffff;
    height: auto;
    padding: 100px 0px;
    margin: auto;
}
.abilitys__title {
    text-align: left;
}
.abilitys__skill-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #0059D9;
}
.abilitys__description {
    margin: 20px 0;
}
.hr {
    border-style: solid;
    border-color: #D2D9E2;
    margin: 20px auto;
}
.works {
    background: #25282A;
    color: #ffffff;
    padding: 100px 0px;
}
.title__description {
    margin: 20px auto;
}
.works__projects {
    margin: auto;
    padding: 80px 0;
}
.projects__title {
    margin: 5px;
}
.projects__image {
    margin: 20px 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.projects__description {
    max-width: 520px;
    text-align: left;
}
.contats {
    padding: 100px 0;
}
.contats__social {
    margin: 20px 0;
}
.contats__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.field {
    padding: 8px;
    border-radius: 4px;
    border: none;
}
.form__small {
    width: 314px;
    height: 15px;
    margin-top: 20px;    
}
.form__big {
    width: 700px;
    height: 115px;
    margin-top: 20px;
}
.form__button {
    width: 700px;
}
.form__button__small {
    margin: 20px 0;
    background: transparent;
    height: 36px;
    border: 1px solid #dadfe4;
    border-radius: 4px;
}